<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ajax04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>list</servlet-name>
  	<servlet-class>com.hb.guest.ListAll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.hb.guest.InsertOne</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>detail</servlet-name>
  	<servlet-class>com.hb.guest.ListOne</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>list</servlet-name>
  	<url-pattern>/bbs/list.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/bbs/insert.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>detail</servlet-name>
  	<url-pattern>/bbs/detail.html</url-pattern>
  </servlet-mapping>
</web-app>